<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main>

  <img id="img1" [src]="logo">
  <!-- Section 1 -->
  <section class="proj-grid">
    <div class="container d-flex justify-content-center align-items-center">
      <div class="row gy-4 gy-md-0 text-center">
        <div class="col-12 ">
          <hr id="line1" class="bg-danger border-1.1 border-top border-white">
          <h1 id="titre" class=" py-5 text-white my-5"> Avec Onygo voyage à travers le monde !</h1>
          <h3 class="fw-light py-5 my-5 text-white ">Indique ta destination et ton budget </h3>
        </div>
      </div>
    </div>
    <!-- Inputs de l'utilisateur -->
    <div class="container d-flex justify-content-center">

      <div class="row">

        <!-- Départ -->
        <div class="col mx-5">
          <select class="form-select" aria-label="Default select example" [formControl]="inputDepart">

            <option selected>Départ</option>

            <option value="Abu Dhabi">Abu Dhabi</option>
            <option value="Abuja">Abuja</option>
            <option value="Accra">Accra</option>
            <option value="Adamstown">Adamstown</option>
            <option value="Addis Ababa">Addis Ababa</option>
            <option value="Algiers">Algiers</option>
            <option value="Alofi">Alofi</option>
            <option value="Amman">Amman</option>
            <option value="Amsterdam">Amsterdam</option>
            <option value="Andorra la Vella">Andorra la Vella</option>
            <option value="Ankara">Ankara</option>
            <option value="Antananarivo">Antananarivo</option>
            <option value="Apia">Apia</option>
            <option value="Ashgabat">Ashgabat</option>
            <option value="Asmara">Asmara</option>
            <option value="Asunción">Asunción</option>
            <option value="Athens">Athens</option>
            <option value="Avarua">Avarua</option>
            <option value="Baghdad">Baghdad</option>
            <option value="Baku">Baku</option>
            <option value="Bamako">Bamako</option>
            <option value="Bandar Seri Begawan">Bandar Seri Begawan</option>
            <option value="Bangkok">Bangkok</option>
            <option value="Bangui">Bangui</option>
            <option value="Banjul">Banjul</option>
            <option value="Basse-Terre">Basse-Terre</option>
            <option value="Basseterre">Basseterre</option>
            <option value="Beijing">Beijing</option>
            <option value="Beirut">Beirut</option>
            <option value="Belgrade">Belgrade</option>
            <option value="Belmopan">Belmopan</option>
            <option value="Berlin">Berlin</option>
            <option value="Bern">Bern</option>
            <option value="Bishkek">Bishkek</option>
            <option value="Bissau">Bissau</option>
            <option value="Bogotá">Bogotá</option>
            <option value="Brasília">Brasília</option>
            <option value="Bratislava">Bratislava</option>
            <option value="Brazzaville">Brazzaville</option>
            <option value="Bridgetown">Bridgetown</option>
            <option value="Brussels">Brussels</option>
            <option value="Bucharest">Bucharest</option>
            <option value="Budapest">Budapest</option>
            <option value="Buenos Aires">Buenos Aires</option>
            <option value="Cairo">Cairo</option>
            <option value="Canberra">Canberra</option>
            <option value="Caracas">Caracas</option>
            <option value="Castries">Castries</option>
            <option value="Cayenne">Cayenne</option>
            <option value="Charlotte Amalie">Charlotte Amalie</option>
            <option value="City of San Marino">City of San Marino</option>
            <option value="City of Victoria">City of Victoria</option>
            <option value="Cockburn Town">Cockburn Town</option>
            <option value="Conakry">Conakry</option>
            <option value="Copenhagen">Copenhagen</option>
            <option value="Dakar">Dakar</option>
            <option value="Damascus">Damascus</option>
            <option value="Dhaka">Dhaka</option>
            <option value="Diego Garcia">Diego Garcia</option>
            <option value="Dili">Dili</option>
            <option value="Djibouti">Djibouti</option>
            <option value="Dodoma">Dodoma</option>
            <option value="Doha">Doha</option>
            <option value="Douglas">Douglas</option>
            <option value="Dublin">Dublin</option>
            <option value="Dushanbe">Dushanbe</option>
            <option value="El Aaiún">El Aaiún</option>
            <option value="Fakaofo">Fakaofo</option>
            <option value="Flying Fish Cove">Flying Fish Cove</option>
            <option value="Fort-de-France">Fort-de-France</option>
            <option value="Freetown">Freetown</option>
            <option value="Funafuti">Funafuti</option>
            <option value="Gaborone">Gaborone</option>
            <option value="George Town">George Town</option>
            <option value="Georgetown">Georgetown</option>
            <option value="Gibraltar">Gibraltar</option>
            <option value="Gitega">Gitega</option>
            <option value="Guatemala City">Guatemala City</option>
            <option value="Gustavia">Gustavia</option>
            <option value="Hagåtña">Hagåtña</option>
            <option value="Hamilton">Hamilton</option>
            <option value="Hanoi">Hanoi</option>
            <option value="Harare">Harare</option>
            <option value="Havana">Havana</option>
            <option value="Helsinki">Helsinki</option>
            <option value="Honiara">Honiara</option>
            <option value="Islamabad">Islamabad</option>
            <option value="Jakarta">Jakarta</option>
            <option value="Jamestown">Jamestown</option>
            <option value="Jerusalem">Jerusalem</option>
            <option value="Juba">Juba</option>
            <option value="Kabul">Kabul</option>
            <option value="Kampala">Kampala</option>
            <option value="Kathmandu">Kathmandu</option>
            <option value="Khartoum">Khartoum</option>
            <option value="Kigali">Kigali</option>
            <option value="King Edward Point">King Edward Point</option>
            <option value="Kingston">Kingston</option>
            <option value="Kingston">Kingston</option>
            <option value="Kingstown">Kingstown</option>
            <option value="Kinshasa">Kinshasa</option>
            <option value="Kralendijk">Kralendijk</option>
            <option value="Kuala Lumpur">Kuala Lumpur</option>
            <option value="Kuwait City">Kuwait City</option>
            <option value="Kyiv">Kyiv</option>
            <option value="Libreville">Libreville</option>
            <option value="Lilongwe">Lilongwe</option>
            <option value="Lima">Lima</option>
            <option value="Lisbon">Lisbon</option>
            <option value="Ljubljana">Ljubljana</option>
            <option value="Lomé">Lomé</option>
            <option value="London">London</option>
            <option value="Longyearbyen">Longyearbyen</option>
            <option value="Luanda">Luanda</option>
            <option value="Lusaka">Lusaka</option>
            <option value="Luxembourg">Luxembourg</option>
            <option value="Madrid">Madrid</option>
            <option value="Majuro">Majuro</option>
            <option value="Malabo">Malabo</option>
            <option value="Malé">Malé</option>
            <option value="Mamoudzou">Mamoudzou</option>
            <option value="Managua">Managua</option>
            <option value="Manama">Manama</option>
            <option value="Manila">Manila</option>
            <option value="Maputo">Maputo</option>
            <option value="Mariehamn">Mariehamn</option>
            <option value="Marigot">Marigot</option>
            <option value="Maseru">Maseru</option>
            <option value="Mata-Utu">Mata-Utu</option>
            <option value="Mbabane">Mbabane</option>
            <option value="Mexico City">Mexico City</option>
            <option value="Minsk">Minsk</option>
            <option value="Mogadishu">Mogadishu</option>
            <option value="Monaco">Monaco</option>
            <option value="Monrovia">Monrovia</option>
            <option value="Montevideo">Montevideo</option>
            <option value="Moroni">Moroni</option>
            <option value="Moscow">Moscow</option>
            <option value="Muscat">Muscat</option>
            <option value="N'Djamena">N'Djamena</option>
            <option value="Nairobi">Nairobi</option>
            <option value="Nassau">Nassau</option>
            <option value="Naypyidaw">Naypyidaw</option>
            <option value="New Delhi">New Delhi</option>
            <option value="Ngerulmud">Ngerulmud</option>
            <option value="Niamey">Niamey</option>
            <option value="Nicosia">Nicosia</option>
            <option value="Nouakchott">Nouakchott</option>
            <option value="Nouméa">Nouméa</option>
            <option value="Nuku'alofa">Nuku'alofa</option>
            <option value="Nur-Sultan">Nur-Sultan</option>
            <option value="Nuuk">Nuuk</option>
            <option value="Oranjestad">Oranjestad</option>
            <option value="Oslo">Oslo</option>
            <option value="Ottawa">Ottawa</option>
            <option value="Ouagadougou">Ouagadougou</option>
            <option value="Pago Pago">Pago Pago</option>
            <option value="Palikir">Palikir</option>
            <option value="Panama City">Panama City</option>
            <option value="Papeeté">Papeeté</option>
            <option value="Paramaribo">Paramaribo</option>
            <option value="Paris">Paris</option>
            <option value="Philipsburg">Philipsburg</option>
            <option value="Phnom Penh">Phnom Penh</option>
            <option value="Plymouth">Plymouth</option>
            <option value="Podgorica">Podgorica</option>
            <option value="Port Louis">Port Louis</option>
            <option value="Port Moresby">Port Moresby</option>
            <option value="Port of Spain">Port of Spain</option>
            <option value="Port Vila">Port Vila</option>
            <option value="Port-au-Prince">Port-au-Prince</option>
            <option value="Port-aux-Français">Port-aux-Français</option>
            <option value="Porto-Novo">Porto-Novo</option>
            <option value="Prague">Prague</option>
            <option value="Praia">Praia</option>
            <option value="Pretoria">Pretoria</option>
            <option value="Pristina">Pristina</option>
            <option value="Pyongyang">Pyongyang</option>
            <option value="Quito">Quito</option>
            <option value="Rabat">Rabat</option>
            <option value="Ramallah">Ramallah</option>
            <option value="Reykjavik">Reykjavik</option>
            <option value="Riga">Riga</option>
            <option value="Riyadh">Riyadh</option>
            <option value="Road Town">Road Town</option>
            <option value="Rome">Rome</option>
            <option value="Roseau">Roseau</option>
            <option value="Saint Helier">Saint Helier</option>
            <option value="Saint John's">Saint John's</option>
            <option value="Saint-Denis">Saint-Denis</option>
            <option value="Saint-Pierre">Saint-Pierre</option>
            <option value="Saipan">Saipan</option>
            <option value="San José">San José</option>
            <option value="San Juan">San Juan</option>
            <option value="San Salvador">San Salvador</option>
            <option value="Sana'a">Sana'a</option>
            <option value="Santiago">Santiago</option>
            <option value="Santo Domingo">Santo Domingo</option>
            <option value="São Tomé">São Tomé</option>
            <option value="Sarajevo">Sarajevo</option>
            <option value="Seoul">Seoul</option>
            <option value="Singapore">Singapore</option>
            <option value="Skopje">Skopje</option>
            <option value="Sofia">Sofia</option>
            <option value="South Tarawa">South Tarawa</option>
            <option value="Sri Jayawardenepura Kotte">Sri Jayawardenepura Kotte</option>
            <option value="St. George's">St. George's</option>
            <option value="St. Peter Port">St. Peter Port</option>
            <option value="Stanley">Stanley</option>
            <option value="Stockholm">Stockholm</option>
            <option value="Sucre">Sucre</option>
            <option value="Suva">Suva</option>
            <option value="Taipei">Taipei</option>
            <option value="Tallinn">Tallinn</option>
            <option value="Tashkent">Tashkent</option>
            <option value="Tbilisi">Tbilisi</option>
            <option value="Tegucigalpa">Tegucigalpa</option>
            <option value="Tehran">Tehran</option>
            <option value="The Valley">The Valley</option>
            <option value="Thimphu">Thimphu</option>
            <option value="Tirana">Tirana</option>
            <option value="Tokyo">Tokyo"</option>
            <option value="Tórshavn">Tórshavn</option>
            <option value="Tripoli">Tripoli</option>
            <option value="Tunis">Tunis</option>
            <option value="Ulan Bator">Ulan Bator</option>
            <option value="undefined">undefined</option>
            <option value="Vaduz">Vaduz</option>
            <option value="Valletta">Valletta</option>
            <option value="Vatican City">Vatican City</option>
            <option value="Victoria">Victoria</option>
            <option value="Vienna">Vienna</option>
            <option value="Vientiane">Vientiane</option>
            <option value="Vilnius">Vilnius</option>
            <option value="Warsaw">Warsaw</option>
            <option value="Washington DC">Washington DC</option>
            <option value="Washington, D.C.">Washington, D.C.</option>
            <option value="Wellington">Wellington</option>
            <option value="West Island">West Island</option>
            <option value="Willemstad">Willemstad</option>
            <option value="Windhoek">Windhoek</option>
            <option value="Yamoussoukro">Yamoussoukro</option>
            <option value="Yaoundé">Yaoundé</option>
            <option value="Yaren">Yaren</option>
            <option value="Yerevan">Yerevan</option>
            <option value="Zagreb">Zagreb</option>
          </select>
        </div>

        <!-- Destination -->
        <div class="col mx-2 ">
          <select class="form-select" aria-label="Default select example" [formControl]="inputDestination">

            <option selected>Destination</option>

            <option value="Abu Dhabi">Abu Dhabi</option>
            <option value="Abuja">Abuja</option>
            <option value="Accra">Accra</option>
            <option value="Adamstown">Adamstown</option>
            <option value="Addis Ababa">Addis Ababa</option>
            <option value="Algiers">Algiers</option>
            <option value="Alofi">Alofi</option>
            <option value="Amman">Amman</option>
            <option value="Amsterdam">Amsterdam</option>
            <option value="Andorra la Vella">Andorra la Vella</option>
            <option value="Ankara">Ankara</option>
            <option value="Antananarivo">Antananarivo</option>
            <option value="Apia">Apia</option>
            <option value="Ashgabat">Ashgabat</option>
            <option value="Asmara">Asmara</option>
            <option value="Asunción">Asunción</option>
            <option value="Athens">Athens</option>
            <option value="Avarua">Avarua</option>
            <option value="Baghdad">Baghdad</option>
            <option value="Baku">Baku</option>
            <option value="Bamako">Bamako</option>
            <option value="Bandar Seri Begawan">Bandar Seri Begawan</option>
            <option value="Bangkok">Bangkok</option>
            <option value="Bangui">Bangui</option>
            <option value="Banjul">Banjul</option>
            <option value="Basse-Terre">Basse-Terre</option>
            <option value="Basseterre">Basseterre</option>
            <option value="Beijing">Beijing</option>
            <option value="Beirut">Beirut</option>
            <option value="Belgrade">Belgrade</option>
            <option value="Belmopan">Belmopan</option>
            <option value="Berlin">Berlin</option>
            <option value="Bern">Bern</option>
            <option value="Bishkek">Bishkek</option>
            <option value="Bissau">Bissau</option>
            <option value="Bogotá">Bogotá</option>
            <option value="Brasília">Brasília</option>
            <option value="Bratislava">Bratislava</option>
            <option value="Brazzaville">Brazzaville</option>
            <option value="Bridgetown">Bridgetown</option>
            <option value="Brussels">Brussels</option>
            <option value="Bucharest">Bucharest</option>
            <option value="Budapest">Budapest</option>
            <option value="Buenos Aires">Buenos Aires</option>
            <option value="Cairo">Cairo</option>
            <option value="Canberra">Canberra</option>
            <option value="Caracas">Caracas</option>
            <option value="Castries">Castries</option>
            <option value="Cayenne">Cayenne</option>
            <option value="Charlotte Amalie">Charlotte Amalie</option>
            <option value="City of San Marino">City of San Marino</option>
            <option value="City of Victoria">City of Victoria</option>
            <option value="Cockburn Town">Cockburn Town</option>
            <option value="Conakry">Conakry</option>
            <option value="Copenhagen">Copenhagen</option>
            <option value="Dakar">Dakar</option>
            <option value="Damascus">Damascus</option>
            <option value="Dhaka">Dhaka</option>
            <option value="Diego Garcia">Diego Garcia</option>
            <option value="Dili">Dili</option>
            <option value="Djibouti">Djibouti</option>
            <option value="Dodoma">Dodoma</option>
            <option value="Doha">Doha</option>
            <option value="Douglas">Douglas</option>
            <option value="Dublin">Dublin</option>
            <option value="Dushanbe">Dushanbe</option>
            <option value="El Aaiún">El Aaiún</option>
            <option value="Fakaofo">Fakaofo</option>
            <option value="Flying Fish Cove">Flying Fish Cove</option>
            <option value="Fort-de-France">Fort-de-France</option>
            <option value="Freetown">Freetown</option>
            <option value="Funafuti">Funafuti</option>
            <option value="Gaborone">Gaborone</option>
            <option value="George Town">George Town</option>
            <option value="Georgetown">Georgetown</option>
            <option value="Gibraltar">Gibraltar</option>
            <option value="Gitega">Gitega</option>
            <option value="Guatemala City">Guatemala City</option>
            <option value="Gustavia">Gustavia</option>
            <option value="Hagåtña">Hagåtña</option>
            <option value="Hamilton">Hamilton</option>
            <option value="Hanoi">Hanoi</option>
            <option value="Harare">Harare</option>
            <option value="Havana">Havana</option>
            <option value="Helsinki">Helsinki</option>
            <option value="Honiara">Honiara</option>
            <option value="Islamabad">Islamabad</option>
            <option value="Jakarta">Jakarta</option>
            <option value="Jamestown">Jamestown</option>
            <option value="Jerusalem">Jerusalem</option>
            <option value="Juba">Juba</option>
            <option value="Kabul">Kabul</option>
            <option value="Kampala">Kampala</option>
            <option value="Kathmandu">Kathmandu</option>
            <option value="Khartoum">Khartoum</option>
            <option value="Kigali">Kigali</option>
            <option value="King Edward Point">King Edward Point</option>
            <option value="Kingston">Kingston</option>
            <option value="Kingston">Kingston</option>
            <option value="Kingstown">Kingstown</option>
            <option value="Kinshasa">Kinshasa</option>
            <option value="Kralendijk">Kralendijk</option>
            <option value="Kuala Lumpur">Kuala Lumpur</option>
            <option value="Kuwait City">Kuwait City</option>
            <option value="Kyiv">Kyiv</option>
            <option value="Libreville">Libreville</option>
            <option value="Lilongwe">Lilongwe</option>
            <option value="Lima">Lima</option>
            <option value="Lisbon">Lisbon</option>
            <option value="Ljubljana">Ljubljana</option>
            <option value="Lomé">Lomé</option>
            <option value="London">London</option>
            <option value="Longyearbyen">Longyearbyen</option>
            <option value="Luanda">Luanda</option>
            <option value="Lusaka">Lusaka</option>
            <option value="Luxembourg">Luxembourg</option>
            <option value="Madrid">Madrid</option>
            <option value="Majuro">Majuro</option>
            <option value="Malabo">Malabo</option>
            <option value="Malé">Malé</option>
            <option value="Mamoudzou">Mamoudzou</option>
            <option value="Managua">Managua</option>
            <option value="Manama">Manama</option>
            <option value="Manila">Manila</option>
            <option value="Maputo">Maputo</option>
            <option value="Mariehamn">Mariehamn</option>
            <option value="Marigot">Marigot</option>
            <option value="Maseru">Maseru</option>
            <option value="Mata-Utu">Mata-Utu</option>
            <option value="Mbabane">Mbabane</option>
            <option value="Mexico City">Mexico City</option>
            <option value="Minsk">Minsk</option>
            <option value="Mogadishu">Mogadishu</option>
            <option value="Monaco">Monaco</option>
            <option value="Monrovia">Monrovia</option>
            <option value="Montevideo">Montevideo</option>
            <option value="Moroni">Moroni</option>
            <option value="Moscow">Moscow</option>
            <option value="Muscat">Muscat</option>
            <option value="N'Djamena">N'Djamena</option>
            <option value="Nairobi">Nairobi</option>
            <option value="Nassau">Nassau</option>
            <option value="Naypyidaw">Naypyidaw</option>
            <option value="New Delhi">New Delhi</option>
            <option value="Ngerulmud">Ngerulmud</option>
            <option value="Niamey">Niamey</option>
            <option value="Nicosia">Nicosia</option>
            <option value="Nouakchott">Nouakchott</option>
            <option value="Nouméa">Nouméa</option>
            <option value="Nuku'alofa">Nuku'alofa</option>
            <option value="Nur-Sultan">Nur-Sultan</option>
            <option value="Nuuk">Nuuk</option>
            <option value="Oranjestad">Oranjestad</option>
            <option value="Oslo">Oslo</option>
            <option value="Ottawa">Ottawa</option>
            <option value="Ouagadougou">Ouagadougou</option>
            <option value="Pago Pago">Pago Pago</option>
            <option value="Palikir">Palikir</option>
            <option value="Panama City">Panama City</option>
            <option value="Papeeté">Papeeté</option>
            <option value="Paramaribo">Paramaribo</option>
            <option value="Paris">Paris</option>
            <option value="Philipsburg">Philipsburg</option>
            <option value="Phnom Penh">Phnom Penh</option>
            <option value="Plymouth">Plymouth</option>
            <option value="Podgorica">Podgorica</option>
            <option value="Port Louis">Port Louis</option>
            <option value="Port Moresby">Port Moresby</option>
            <option value="Port of Spain">Port of Spain</option>
            <option value="Port Vila">Port Vila</option>
            <option value="Port-au-Prince">Port-au-Prince</option>
            <option value="Port-aux-Français">Port-aux-Français</option>
            <option value="Porto-Novo">Porto-Novo</option>
            <option value="Prague">Prague</option>
            <option value="Praia">Praia</option>
            <option value="Pretoria">Pretoria</option>
            <option value="Pristina">Pristina</option>
            <option value="Pyongyang">Pyongyang</option>
            <option value="Quito">Quito</option>
            <option value="Rabat">Rabat</option>
            <option value="Ramallah">Ramallah</option>
            <option value="Reykjavik">Reykjavik</option>
            <option value="Riga">Riga</option>
            <option value="Riyadh">Riyadh</option>
            <option value="Road Town">Road Town</option>
            <option value="Rome">Rome</option>
            <option value="Roseau">Roseau</option>
            <option value="Saint Helier">Saint Helier</option>
            <option value="Saint John's">Saint John's</option>
            <option value="Saint-Denis">Saint-Denis</option>
            <option value="Saint-Pierre">Saint-Pierre</option>
            <option value="Saipan">Saipan</option>
            <option value="San José">San José</option>
            <option value="San Juan">San Juan</option>
            <option value="San Salvador">San Salvador</option>
            <option value="Sana'a">Sana'a</option>
            <option value="Santiago">Santiago</option>
            <option value="Santo Domingo">Santo Domingo</option>
            <option value="São Tomé">São Tomé</option>
            <option value="Sarajevo">Sarajevo</option>
            <option value="Seoul">Seoul</option>
            <option value="Singapore">Singapore</option>
            <option value="Skopje">Skopje</option>
            <option value="Sofia">Sofia</option>
            <option value="South Tarawa">South Tarawa</option>
            <option value="Sri Jayawardenepura Kotte">Sri Jayawardenepura Kotte</option>
            <option value="St. George's">St. George's</option>
            <option value="St. Peter Port">St. Peter Port</option>
            <option value="Stanley">Stanley</option>
            <option value="Stockholm">Stockholm</option>
            <option value="Sucre">Sucre</option>
            <option value="Suva">Suva</option>
            <option value="Taipei">Taipei</option>
            <option value="Tallinn">Tallinn</option>
            <option value="Tashkent">Tashkent</option>
            <option value="Tbilisi">Tbilisi</option>
            <option value="Tegucigalpa">Tegucigalpa</option>
            <option value="Tehran">Tehran</option>
            <option value="The Valley">The Valley</option>
            <option value="Thimphu">Thimphu</option>
            <option value="Tirana">Tirana</option>
            <option value="Tokyo">Tokyo"</option>
            <option value="Tórshavn">Tórshavn</option>
            <option value="Tripoli">Tripoli</option>
            <option value="Tunis">Tunis</option>
            <option value="Ulan Bator">Ulan Bator</option>
            <option value="undefined">undefined</option>
            <option value="Vaduz">Vaduz</option>
            <option value="Valletta">Valletta</option>
            <option value="Vatican City">Vatican City</option>
            <option value="Victoria">Victoria</option>
            <option value="Vienna">Vienna</option>
            <option value="Vientiane">Vientiane</option>
            <option value="Vilnius">Vilnius</option>
            <option value="Warsaw">Warsaw</option>
            <option value="Washington DC">Washington DC</option>
            <option value="Washington, D.C.">Washington, D.C.</option>
            <option value="Wellington">Wellington</option>
            <option value="West Island">West Island</option>
            <option value="Willemstad">Willemstad</option>
            <option value="Windhoek">Windhoek</option>
            <option value="Yamoussoukro">Yamoussoukro</option>

            <option value="Yaoundé">Yaoundé</option>
            <option value="Yaren">Yaren</option>
            <option value="Yerevan">Yerevan</option>
            <option value="Zagreb">Zagreb</option>
          </select>
        </div>

        <!-- Budget -->
        <div class="col d-flex justify-content-center">

          <input class="mx-2 " type="number" id="inputBudget" name="inputBudget" min="0" max="5000"
            [formControl]="budget">
        </div>

      </div>

    </div>

    <!-- Validation des informations (bouton) -->
    <div class="container d-flex justify-content-center my-5">
      <div class="row">
        <div class="col my-5">
          <a (click)="afficherResultat()" href="#part2" class="btn btn-primary">Rechercher</a>
        </div>
      </div>
    </div>
    <!-- <img src="http://openweathermap.org/img/wn/{{codeImage}}@2x.png" [alt]="iconMeteo"> -->

    <!-- <img [src]="image" alt="imageDestination"> -->

  </section>

</main>

<section id="part2" *ngIf="showMe" >

<!-- Toutes les cards -->
  <div class="all_cards">

  <div class="card_currency">

    <div class="flag_left">
      <div class="flag_left_img">
        <img src="{{flagdepart}}" alt="">
      </div>
      <p class="montant">{{budget.value}} {{symboleDevisedepart}}</p>
    </div>


    <div class="card_currency_mid">
      <div class="icons_top">
        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 24 24">
          <path fill="currentColor"
            d="m12 16l4-4l-4-4l-1.4 1.4l1.6 1.6H8v2h4.2l-1.6 1.6Zm0 6q-2.075 0-3.9-.788q-1.825-.787-3.175-2.137q-1.35-1.35-2.137-3.175Q2 14.075 2 12t.788-3.9q.787-1.825 2.137-3.175q1.35-1.35 3.175-2.138Q9.925 2 12 2t3.9.787q1.825.788 3.175 2.138q1.35 1.35 2.137 3.175Q22 9.925 22 12t-.788 3.9q-.787 1.825-2.137 3.175q-1.35 1.35-3.175 2.137Q14.075 22 12 22Z" />
        </svg>

      </div>
      <div class="icons_bot">
        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 24 24">
          <g transform="rotate(180 12 12)">
            <path fill="currentColor"
              d="m12 16l4-4l-4-4l-1.4 1.4l1.6 1.6H8v2h4.2l-1.6 1.6Zm0 6q-2.075 0-3.9-.788q-1.825-.787-3.175-2.137q-1.35-1.35-2.137-3.175Q2 14.075 2 12t.788-3.9q.787-1.825 2.137-3.175q1.35-1.35 3.175-2.138Q9.925 2 12 2t3.9.787q1.825.788 3.175 2.138q1.35 1.35 2.137 3.175Q22 9.925 22 12t-.788 3.9q-.787 1.825-2.137 3.175q-1.35 1.35-3.175 2.137Q14.075 22 12 22Z" />
          </g>
        </svg>
      </div>
    </div>

    <div class="currency_right">
      <div class="flag_right">
        <div class="flag_left_img">
          <img src="{{flagarrive}}" alt="">
        </div>
        <p class="montant">{{montant}} {{symboleDevisearrive}}</p>
      </div>
    </div>
  </div>

  <div class="card">

    <div class="card-left">

      <div class="card-left-details text-white">
        <h1 id=></h1>
        <h2 id="ID_dateDuJour">{{date}}</h2>
        <h3>{{cityName}}</h3>

      </div>

      <div class="card-left-temp">

        <div class="card-left-deg text-white">
          <p id="ID_temp">{{temp}}</p>
          <div id="codeImage"><img src="http://openweathermap.org/img/wn/{{codeImage}}@2x.png" alt="iconMeteo"></div>
          <p id="ID_tempDescription">{{description}}</p>
        </div>
      </div>
    </div>

    <div class="card-right">
      <div class="card-right-detail">
        <div class="percepetion text-white">
          <p>Ressenti</p>
          <p id="ID_perception">{{feels}}</p>
        </div>
        <div class="Humidity text-white">
          <p>Humidité</p>
          <p id="ID_humidity">{{humidity}}%</p>
        </div>
        <div class="Wind text-white">
          <p>Vitesse du vent</p>
          <p id="ID_wind">{{windSpeed}} m/sec</p>
        </div>
      </div>


      <div class="card-right-meteo-day">
        <button class="btn-meteo">
        </button>
        <button class="btn-meteo">
        </button>
        <button class="btn-meteo">
        </button>
        <button class="btn-meteo">
        </button>
      </div>


    </div>
  </div>

</div>

<!-- Caroussel -->
<div id="carouselExampleControls" class="carousel slide m-auto w-50 mb-5" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active gallery__container">

    </div>
    <div class="carousel-item gallery__container">

    </div>
    <div class="carousel-item gallery__container">

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</section>

<!-- Mise en place du footer -->

<section class="page-section bg-light pt-2" id="team">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase pb-5">Voici les acteurs qui ont contribué à ce projet</h2>
    </div>


    <div class="row ">

      <!-- Mise en place de la card Kilian -->


      <div class="col-lg-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" [src]="photodeProfilKilian" alt="..." />
          <h4>Kilian Olry</h4>
          <p class="text-muted">Développeur web</p>
          <a class="btn btn-dark btn-social mx-2" href="https://github.com/KilianOlry"><svg
              xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" preserveAspectRatio="xMidYMid meet"
              viewBox="0 0 32 32">
              <path fill="currentColor" fill-rule="evenodd"
                d="M16 2a14 14 0 0 0-4.43 27.28c.7.13 1-.3 1-.67v-2.38c-3.89.84-4.71-1.88-4.71-1.88a3.71 3.71 0 0 0-1.62-2.05c-1.27-.86.1-.85.1-.85a2.94 2.94 0 0 1 2.14 1.45a3 3 0 0 0 4.08 1.16a2.93 2.93 0 0 1 .88-1.87c-3.1-.36-6.37-1.56-6.37-6.92a5.4 5.4 0 0 1 1.44-3.76a5 5 0 0 1 .14-3.7s1.17-.38 3.85 1.43a13.3 13.3 0 0 1 7 0c2.67-1.81 3.84-1.43 3.84-1.43a5 5 0 0 1 .14 3.7a5.4 5.4 0 0 1 1.44 3.76c0 5.38-3.27 6.56-6.39 6.91a3.33 3.33 0 0 1 .95 2.59v3.84c0 .46.25.81 1 .67A14 14 0 0 0 16 2Z" />
            </svg>
          </a>
          <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/kilian-olry-58038b1a6/"><svg
              xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" preserveAspectRatio="xMidYMid meet"
              viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14m-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93h2.79M6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37h2.77Z" />
            </svg></a>
          <a class="btn btn-dark btn-social mx-2" href="mailto:kilian.olry@gmail.com"><svg
              xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" preserveAspectRatio="xMidYMid meet"
              viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M4 20q-.825 0-1.412-.587Q2 18.825 2 18V6q0-.825.588-1.412Q3.175 4 4 4h16q.825 0 1.413.588Q22 5.175 22 6v12q0 .825-.587 1.413Q20.825 20 20 20Zm8-7l8-5V6l-8 5l-8-5v2Z" />
            </svg></a>
        </div>
      </div>

      <!-- Mise en place de la card Ludovic -->


      <div class="col-lg-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" [src]="photodeProfilLudo" alt="..." />
          <h4>Ludovic Agesilas</h4>
          <p class="text-muted">Développeur web</p>
          <a class="btn btn-dark btn-social mx-2" href="https://github.com/ldc45"><svg
              xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" preserveAspectRatio="xMidYMid meet"
              viewBox="0 0 32 32">
              <path fill="currentColor" fill-rule="evenodd"
                d="M16 2a14 14 0 0 0-4.43 27.28c.7.13 1-.3 1-.67v-2.38c-3.89.84-4.71-1.88-4.71-1.88a3.71 3.71 0 0 0-1.62-2.05c-1.27-.86.1-.85.1-.85a2.94 2.94 0 0 1 2.14 1.45a3 3 0 0 0 4.08 1.16a2.93 2.93 0 0 1 .88-1.87c-3.1-.36-6.37-1.56-6.37-6.92a5.4 5.4 0 0 1 1.44-3.76a5 5 0 0 1 .14-3.7s1.17-.38 3.85 1.43a13.3 13.3 0 0 1 7 0c2.67-1.81 3.84-1.43 3.84-1.43a5 5 0 0 1 .14 3.7a5.4 5.4 0 0 1 1.44 3.76c0 5.38-3.27 6.56-6.39 6.91a3.33 3.33 0 0 1 .95 2.59v3.84c0 .46.25.81 1 .67A14 14 0 0 0 16 2Z" />
            </svg>
          </a>
          <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/ludovic-a-b5896b230/"><svg
              xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" preserveAspectRatio="xMidYMid meet"
              viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14m-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93h2.79M6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37h2.77Z" />
            </svg></a>
          <a class="btn btn-dark btn-social mx-2" href="mailto:Ldc45@outlook.fr"><svg xmlns="http://www.w3.org/2000/svg"
              width="2em" height="2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M4 20q-.825 0-1.412-.587Q2 18.825 2 18V6q0-.825.588-1.412Q3.175 4 4 4h16q.825 0 1.413.588Q22 5.175 22 6v12q0 .825-.587 1.413Q20.825 20 20 20Zm8-7l8-5V6l-8 5l-8-5v2Z" />
            </svg></a>
        </div>
      </div>

      <!-- Mise en place de la card Michael -->


      <div class="col-lg-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" [src]="photodeProfilMika" alt="..." />
          <h4>Michael Dijoux</h4>
          <p class="text-muted">Développeur web</p>
          <a class="btn btn-dark btn-social mx-2" href="https://github.com/Mikadjx"><svg
              xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" preserveAspectRatio="xMidYMid meet"
              viewBox="0 0 32 32">
              <path fill="currentColor" fill-rule="evenodd"
                d="M16 2a14 14 0 0 0-4.43 27.28c.7.13 1-.3 1-.67v-2.38c-3.89.84-4.71-1.88-4.71-1.88a3.71 3.71 0 0 0-1.62-2.05c-1.27-.86.1-.85.1-.85a2.94 2.94 0 0 1 2.14 1.45a3 3 0 0 0 4.08 1.16a2.93 2.93 0 0 1 .88-1.87c-3.1-.36-6.37-1.56-6.37-6.92a5.4 5.4 0 0 1 1.44-3.76a5 5 0 0 1 .14-3.7s1.17-.38 3.85 1.43a13.3 13.3 0 0 1 7 0c2.67-1.81 3.84-1.43 3.84-1.43a5 5 0 0 1 .14 3.7a5.4 5.4 0 0 1 1.44 3.76c0 5.38-3.27 6.56-6.39 6.91a3.33 3.33 0 0 1 .95 2.59v3.84c0 .46.25.81 1 .67A14 14 0 0 0 16 2Z" />
            </svg></a>
          <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/mickael-dijoux-a58797252/"><svg
              xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" preserveAspectRatio="xMidYMid meet"
              viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14m-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93h2.79M6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37h2.77Z" />
            </svg></a>
          <a class="btn btn-dark btn-social mx-2" href="mailto:dijoux_mickael@outlook.fr"><svg
              xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" preserveAspectRatio="xMidYMid meet"
              viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M4 20q-.825 0-1.412-.587Q2 18.825 2 18V6q0-.825.588-1.412Q3.175 4 4 4h16q.825 0 1.413.588Q22 5.175 22 6v12q0 .825-.587 1.413Q20.825 20 20 20Zm8-7l8-5V6l-8 5l-8-5v2Z" />
            </svg></a>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>

<!-- https://korbiniankuhn.medium.com/how-to-avoid-the-angular-white-screen-of-death-a11e31d13633 -->