/* CSS à re-factoriser car certains sélecteurs sont inutilisés */

main {
  background: rgba(0, 0, 0, 0.619) url("../assets/images/maldives.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-blend-mode: darken;
  background-size: cover;
  height: 100vh;
}

#titre {
  font-family: 'Times New Roman', Times, serif;
}

#line2 {

  margin-top: 20px;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.2;

}

#part2{
  background-color: #CA3C25;
}
#img1 {

  height: 300px;
  width: 300px;
  margin-left: -45px;
  margin-top: 10px;

}

.form-control {
  height: 25px;

}


label {

  color: aliceblue;
}

.hr {
  margin-top: 50px;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.2;
}

#line2 {

  margin-top: 20px;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.2;

}


.gallery--img {
  height: 100%;
  width: 80%;
  display: block;
  object-fit: cover;

}


/* Ecran < 599px */

@media (max-width: 768px) {
  .proj-grid {

    height: 100vh;


  }

 

  h1 {
    font-size: large;

  }

  #img1 {

    height: 300px;
    width: 300px;
    margin-left: 5px;
  }

  #line1 {
    margin: 20%;
  }
}

/* Mise en place du style de la card METEO */

.card,
.card_currency {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: white 2px solid;
  border-radius: 35px;
  width: 600px;
  height: 285x;
  background-color: #343F3E;
}

.card-left {
  background-image: linear-gradient(rgba(4, 76, 109, 0.5), rgba(112, 122, 181, 0.3)), url(https://images.unsplash.com/photo-1580655653885-65763b2597d0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 45%;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  outline: 2px solid white;
}

.card-left-details {
  padding: 10px;
}



h2,
.location {
  font-size: 20px;
  margin-top: 35px;
}

.logo_sun {
  font-size: 80px;
}

.card-left-temp,
.card-left-deg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
}

/*card right*/

.card-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 55%;
  height: 100%;
}

.card-right-detail {
  width: 70%;
}

.card-right-meteo-day{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
  border-radius: 20px;
}
.btn-meteo{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background: transparent;
  color: white;
  font-size: 18px;
  margin: 10px 0;
  border-radius: 10px;
}

.percepetion,
.Humidity,
.Wind {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}


.btn-meteo:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}


#ID_inputcity {
  position: absolute;
  top: 50px;
  border: none;
  padding: 10px 15px;
}

#inputvalidation {
  position: absolute;
  top: 120px;
  cursor: pointer;
  border: none;
  padding: 5px 10px;
}

#codeImage {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  ;
}


.all_cards {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


/* Mise en place du style de la card CURRENCIES */


.card_currency {
  display: flex;
  justify-content: space-evenly;
}

svg {
  color: white;
}

.flag_left,
.flag_right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flag_left_img,
.flag_right_img {
  width: 250px;
  height: 160px;
}

.flag_left img,
.flag_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;

}

.montant {
  margin-top: 30px;
  color: white;
  font-size: 25px;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}


/* Mise en place du style du footer */

.team-member {
  margin-bottom: 3rem;
  text-align: center;
}

.team-member img {
  width: 10rem;
  height: 10rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
}

.team-member h4,
.team-member .h4 {
  margin-top: 1.5rem;

}

/* Animation Fond principale toute écran  */

main {
  animation: change-background linear infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards ;
  animation-timing-function:ease-in-out;
  animation-play-state: running;
  animation-duration: 30s;


}

@keyframes change-background {

  0% {
    background:rgba(0, 0, 0, 0.619) url("../assets/images/maldives.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-blend-mode:darken;
    background-size: cover;
    height:100vh;




  }
  20% {
    background:rgba(0, 0, 0, 0.739) url("../assets/images/road-gd66647307_1920.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-blend-mode:darken;
    background-size: cover;
    height:100vh;


  }
  40% {
      background:rgba(0, 0, 0, 0.619) url("../assets/images/mountains-g3de4b6be3_1920.jpg");
      background-repeat: no-repeat;
      background-position:center;
      background-blend-mode:darken;
      background-size: cover;
      height:100vh;


    }
    60% {
        background:rgba(0, 0, 0, 0.568) url("../assets/images/buildings-g02c50bf44_1920.jpg");
        background-repeat: no-repeat;
        background-position:center;
        background-blend-mode:darken;
        background-size: cover;
        height:100vh;


  }
  80% {
    background:rgba(0, 0, 0, 0.568) url("../assets/images/pexels-sergey-pesterev-8428013.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-blend-mode:darken;
    background-size: cover;
    height:100vh;
  }
    100% {
      background:rgba(0, 0, 0, 0.568) url("../assets/images/maldives.jpg");
      background-repeat: no-repeat;
      background-position:center;
      background-blend-mode:darken;
      background-size: cover;
      height:100vh;
}
}

.carousel-inner{
  max-width: 50vw;
  max-height: 50vh;
  margin: auto;
}